@media (max-width: $breakpoint-sm) {
  section.questions {
    max-width: 90vw;
    margin: 0 auto;
    .container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      min-height: 70vh;
      width: calc(100vw - (100vw - 100%));
      justify-content: center;
      align-items: center;
      article {
        display: flex;
        flex-direction: column;
        gap: 3vh;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 80%;
        h1 {
          font-family: Raleway;
          font-weight: lighter;
          font-size: 5vh;
          padding-top: 1rem;
        }
        p {
          font-family: "Open Sans";
          font-size: 2.5vh;
        }

        span:nth-of-type(1) {
          background-image: url("assets/Mail Icon.svg");
          display: inline-block;
          background-repeat: no-repeat;
          background-size: cover;
          height: 3.5vh;
          width: 3.5vh;
        }
        .wrapper {
          display: flex;
          font-family: "Open Sans";
          font-size: 2.5vh;
          color: #A5A5A5;
          justify-content: center;
          white-space: nowrap;
          aside:nth-of-type(1) {
            margin-right: 15px;
          }
        }
        span:nth-of-type(2) {
          background-image: url("assets/Phone Icon.svg");
          display: inline-block;
          background-repeat: no-repeat;
          background-size: cover;
          height: 3.5vh;
          width: 3.5vh;
        }
      }
      form {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 80%;
        .checkbox {
          cursor: pointer;
          display: flex;
          font-family: "Open Sans";
          margin-top: 0.825rem;
          color: #707070;
          font-size: 2vh;
          input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
          }
          span {
            height: 3vh;
            width: 3vh;
            flex-shrink: 0;
            border: 1px solid black;
            cursor: pointer;
            margin-right: 15px;
            border-radius: 3px;
          }
          input:checked + span {
            background-image: url("assets/Checkmark.svg");
            background-repeat: no-repeat;
            background-size: 70%;
            background-position: center;
          }
        }

        .wrapper__button {
          display: flex;
          justify-content: flex-end;

          a {
            display: inline-block;
            width: 5rem;
            height: 2rem;
            margin: 1rem;
            line-height: 2rem;
            border-radius: 23px;
            text-align: center;
            text-decoration: none;
            background-color: $color-primary;
            font-family: "Open Sans";
            color: white;
          }
        }
        label.blue {
          color: #08A6E4;
          font-size: 0.825rem;
          letter-spacing: 3px;
          padding: 0.5rem;
          font-family: "Open Sans";
          font-weight: bold;
          text-transform: uppercase;
        }

        input[type="text"] {
          appearance: none;
          padding: 0.5rem;
          outline: none;
          border: none;
          border-bottom: 1px solid #707070;
          font-size: 3vh;

          &:focus {
            appearance: none;
            border: none;
            border-bottom: 1px solid #707070;
          }
        }
      }
      }
  }
}















@media (min-width: $breakpoint-sm) {
  section.questions {
    max-width: 80vw;
    margin: 0 auto;

    .container {
      display: flex;
      height: 70vh;
      width: calc(100vw - (100vw - 100%));
      justify-content: center;
      align-items: center;

      article {
        display: flex;
        flex-direction: column;
        gap: 3vh;
        align-items: center;
        width: 50%;
        height: 80%;

        h1 {
          font-family: Raleway;
          font-weight: lighter;
          font-size: 6vh;
        }

        p {
          font-family: "Open Sans";
          font-size: 2.5vh;
        }

        span:nth-of-type(1) {
          background-image: url("assets/Mail Icon.svg");
          display: inline-block;
          background-repeat: no-repeat;
          background-size: cover;
          height: 3vh;
          width: 3vh;
        }

        .wrapper {
          display: flex;
          font-family: "Open Sans";
          font-size: 2.5vh;
          color: #A5A5A5;
          width: 60%;
          justify-content: space-around;
          white-space: nowrap;
        }

        span:nth-of-type(2) {
          background-image: url("assets/Phone Icon.svg");
          display: inline-block;
          background-repeat: no-repeat;
          background-size: cover;
          height: 3vh;
          width: 3vh;
        }
      }

      form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 50%;
        height: 80%;

        .checkbox {
          cursor: pointer;
          display: flex;
          font-family: "Open Sans";
          color: #707070;
          font-size: 2vh;
          input {
@include inputForm
          }
          span {
            height: 3vh;
            width: 3vh;
            flex-shrink: 0;
            border: 1px solid black;
            cursor: pointer;
            margin-right: 15px;
            border-radius: 3px;
          }
          input:checked + span {
            background-image: url("assets/Checkmark.svg");
            background-repeat: no-repeat;
            background-size: 70%;
            background-position: center;
          }
        }

        .wrapper__button {
          display: flex;
          justify-content: flex-end;

          a {
            @include btn($color-primary, 24vh);
          }
        }

        label.blue {
          color: #08A6E4;
          letter-spacing: 3px;
          font-family: "Open Sans";
          font-weight: bold;
          text-transform: uppercase;
        }

        input[type="text"] {
          appearance: none;
          outline: none;
          border: none;
          border-bottom: 1px solid #707070;
          font-size: 3vh;

          &:focus {
            appearance: none;
            border: none;
            border-bottom: 1px solid #707070;
          }
        }
      }
    }
  }

}




